@-moz-document regexp('http://msdn.microsoft.com/..-../library/.*') {

    /* Background color for everything except footer */
    body {
        color: #dcdcdc;
        background-color: #1e1e1e;
    }

    /* Normal text */
    p {
        color: #dcdcdc;
    }

    /* Main header */
    h1, h1.title, .topic h1.title {
        color: #ffffff;
    }

    /* Collapsible headers */
    h1.heading, h2, h2.heading, h2.subheading, h3, h3.subheading, h4, h4.subheading, h5, h5.subheading, .LW_CollapsibleArea_Title {
        color: #ffffff
    }

    /* Expand-collapse triangle */
    .LW_CollapsibleArea_Img {
        margin-top: 8px;
    }

    .cl_CollapsibleArea_expanding {
        background: none;
        height: auto;
        width: auto;
    }

    .cl_CollapsibleArea_collapsing {
        background: none;
        height: auto;
        width: auto;
    }

    .cl_CollapsibleArea_expanding:after {
        content: "◢";
        color: #ffffff;
        font-size: 12px;
    }

    .cl_CollapsibleArea_collapsing:after {
        content: "▶";
        color: #ffffff;
        font-size: 12px;
    }
    /* End: expand-collapse triangle */

    /* Version of .NET framework under the main header */
    #curversion {
        color: #6e6e6e;
    }

    /* Links */
    .topic a,.topic a:link {
        color: #569CD6
    }

    /* Navigation links */
    div#leftNav a,div#leftNav a:link,div#leftNav a:visited {
        color: #569CD6
    }
}
